examples/overlay/.classpath
examples/overlay/.settings
examples/overlay/.project
examples/overlay/bin/
examples/overlay/gen/
examples/overlay/.DS_Store
examples/simple/.classpath
examples/simple/.settings
examples/simple/.project
examples/simple/bin/
examples/simple/gen/
examples/simple/.DS_Store
madvertiseSDK/.classpath
madvertiseSDK/.settings
madvertiseSDK/.project
madvertiseSDK/bin/
madvertiseSDK/gen/
madvertiseSDK/.DS_Store
.metadata
.DS_Store